body { 
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#324543;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #39633b;
  }
  
  /* Caja de registro más compacta */
  form {
    background-color: #000;
    border: 2px solid #39633b;
    border-radius: 12px;
    padding-left: 25px;
    padding-right: 25px;
    width: 300px;
    box-shadow: 0 0 20px rgba(16, 255, 56, 0.5);
    display: flex;
    flex-direction: column;
  }
  
  
  /* Título */
  h2 {
    margin-bottom: 0px; /* menos separación */
    font-size: 1.4rem; /* más chico */
    color: #39633b;
    text-align: center;
  }
  
  /* Labels */
  label {
    display: block;
    text-align: left;
    color: #39633b;
    font-weight: bold;
    margin-bottom: 1px; /* casi pegado al input */
    font-size: 0.9rem;
  }
  
  /* Inputs */
  input {
    width: 100%;
    padding: 8px; /* más compacto */
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f7f1e4;
    color: #000;
    font-size: 0.95rem;
    box-sizing: border-box;
    margin: 0;
  }
  
  /* Botón */
  button {
    width: 100%;
    padding: 10px;
    background-color: #39633b;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #39633b;
  }
  
  /* Links */
  p {
    text-align: center;
    margin-top: 8px;
    font-size: 0.9rem;
  }
  
  a {
    color: #39633b;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Alertas */
  ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  li {
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 6px;
    font-size: 0.85rem;
    font-weight: bold;
  }
  
  li:contains("exitoso") {
    background-color: #28a745;
    color: #fff;
  }
  
  li:contains("registrado") {
    background-color: #dc3545;
    color: #fff;
  }
  