<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Reportar Incidente</title>

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <!-- Tu CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body class="page">
  <div class="card">
    <h2>Reportar incidente</h2>

    <form method="POST" enctype="multipart/form-data">
      <label>Seleccione el lugar del incidente:</label>
      <div id="map" required></div>

      <!-- Campos ocultos -->
      <input type="hidden" id="x" name="x">
      <input type="hidden" id="y" name="y">
      <input type="hidden" id="sector" name="sector">

      <label for="descripcion">Descripción del incidente</label>
      <textarea id="descripcion" name="descripcion" rows="4" required></textarea>

      <label>Tipo de Riesgo:</label>
        <select name="tipo_riesgo" required>
          <option value="">Seleccionar...</option>
          {% for riesgo in tipos_riesgo %}
              <option value="{{ riesgo }}">{{ riesgo }}</option>
          {% endfor %}
        </select>

      <label for="foto">Subir foto del incidente</label>
      <input type="file" id="foto" name="foto" accept="image/*" multiple>

      <button type="submit">Enviar</button>
    </form>
  </div>

  <script>
    // Mapa Leaflet
    var map = L.map('map', { crs: L.CRS.Simple, minZoom: -1 });

    // Tamaño de la imagen (ajusta a tu plano)
    var bounds = [[0, 0], [1000, 1500]];
    L.imageOverlay("{{ url_for('static', filename='img/Plano.jpg') }}", bounds).addTo(map);
    map.fitBounds(bounds);

    var marker;
    map.on('click', function (e) {
      if (marker) map.removeLayer(marker);
      marker = L.marker(e.latlng).addTo(map);

      document.getElementById('x').value = Math.round(e.latlng.lng);
      document.getElementById('y').value = Math.round(e.latlng.lat);
      document.getElementById('sector').value = "Seleccionado en mapa";
    });

    // Ajustar tamaño del mapa al cargar
    setTimeout(function(){ map.invalidateSize(); }, 100);
  </script>
</body>
</html>
