<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Pagina sobre riesgos e Incidentes</h1>
    <h1>¡Hola {{ usuario }}!</h1>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        <h2>Si dentificaste algun Riesgo e incidente dentro de la empresa, porfavor Envianos tu notificacion</h2>
        <a href="form">
            <button>Formulario</button>
        </a>
        <a href="list.html">
            <button>Lista de Incidentes</button>
        </a>
        <a href="map.html">
            <button>Mapa de Incidentes</button>
        </a>
</body>
</html>