<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header class="banner">
        <div class="usuario">
            ¡Hola {{ usuario.nombre }}!
        </div>
        <div class="logout">
            <a href="{{ url_for('logout') }}" class="btn-logout">Cerrar sesión</a>
        </div>
    </header>

    <main class="contenido">
        <div class="card">
            <h1>Pagina sobre riesgos e incidentes</h1>
            <p class="intro">
                Si haz identificado algun incidente o riesgo en el colegio te pedimos que ingreses al
                formulario y lo reportes.
            </p>
            <div class="botones">
                <a href="/form"><button>Formulario</button></a>
                <a href="/list"><button>Lista de incidentes</button></a>
                <a href="/map"><button>Mapa de incidentes</button></a>
            </div>
        </div>
    </main>
</body>
</html>
