<!DOCTYPE html>
<html>
<head>
    <title>Lista de Incidentes</title>
    <link rel="stylesheet" href="../static/list.css">
</head>
<body>
    <h2>Lista de Incidentes</h2>
    <table >
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Sector</th>
                <th>Usuario</th>
                <th>Mail</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for incidente in incidentes %}
            <tr>
                <td>{{ incidente.descripcion }}</td>
                <td>{{ incidente.sector }}</td>
                <td>{{ incidente.nombre }} {{ incidente.apellido }}</td>
                <td>{{ incidente.mail }}</td>
                <td>{{ incidente.fecha }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="botones">
        <a href="/index"><button>Inicio</button></a>
    </div>
</body>
</html>
