<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
    </style> 
</head>
<body>
    <form action="{{ url_for('login_post') }}" method="POST">
        <h2>APLICACIÓN INCIDENTES</h2>
        <h3>INICIAR SESIÓN</h2>
        <label>MAIL:</label><br>
        <input type="email" name="mail" required><br>
        <label>LEGAJO:</label><br>
        <input type="text" name="legajo" required><br><br>
        <button type="submit">INGRESAR</button>
        <p>¿NO TIENES CUENTA? <a href="{{ url_for('registro') }}">REGISTRATE</a></p>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>{% for msg in messages %}
          <li>{{ msg }}</li>
        {% endfor %}</ul>
      {% endif %}
    {% endwith %}
</body>
</html>
